.s-hero {
  height: 80vh;
  padding-top: 16.4rem;
  padding-bottom: 10.3rem;
  background-image: url("../assets/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  background-size: cover;
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .left-info {
    width: 100%;
    max-width: 78.2rem;
    h1 {
      margin-top: 2.5rem;
      margin-bottom: 1.8rem;
    }
    p {
      font-weight: 500;
      font-size: 2.2rem;
      line-height: 140%;
      color: white;
      margin-bottom: 4rem;
    }
    .value {
      display: flex;
      strong {
        background: #FFFFFF;
        color: black;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.2rem;
        padding: 1.8rem 3.6rem;
      }
      a {
        display: block;
        padding: 1.8rem 3.6rem;
        background: #3265EA;
        color: white;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.2rem;
    }
  }
}

    .right-info {
      width: 100%;
      max-width: 44.3rem;
      position: relative;
      top: 9.7rem;
      span {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2rem;
        display: block;
        margin-bottom: 2.3rem;
      }
      button {
        position: relative;
        width: 100%;
        height: 23rem;
        border: 2px solid #3265EA;
        box-shadow: 0px 22.8941px 34.3411px -11.447px rgba(8, 8, 11, 0.8);
        overflow: hidden;
        .thumbnail {
          width: 100%;
        }
        .play {
          position: absolute;
          bottom: 2.5rem;
          left: 3.2rem;
        }
      }
      .year-old {
        display: flex;
        gap: 12px;
        align-items: center;
        img {
          width: 4.6rem;
          height: 4.6rem;
        }
        p {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 1.7rem;
          color: white;
        }
      }
    }

}

.info-geral {
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  background-color: #090A0A;
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    li {
      gap: 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 160%;
      }
    }
  }
}

.s-story {
  width: 100%;
  // height: 100vh;
  padding-top: 19rem;
  padding-bottom: 16rem;
  background-image: url("../assets/bg-story.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
  }
  .story-left {
    width: 100%;
    max-width: 62.9rem;
    
    h2 {
      margin-top: 2.8rem;
      margin-bottom: 2.4rem;
      max-width: 50.2rem;
    }
    p {
      margin-bottom: 6.3rem;
    }
    .corp {
      display: flex;
      align-items: center;
      gap: 4.6rem;
      p {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 160%;
        color: #FFFFFF;
      }   
    }
  }
  .story-right {
    .kratos-ateus {
      position: relative;
      left: 72px;
      top: 4px;
    }
  }
}

.s-characteres {
  width: 100%;
  padding-top: 12.6rem;
  padding-bottom: 17.3rem;
  background-image: url("../assets/bg-characters.png");
  background-repeat: no-repeat;
  background-position: center center;
  // background-size: contain;
  overflow: hidden;
  .description {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    .left-personagens {
      width: 100%;
      max-width: 61.2rem;
      h2{
        margin-top: 2.8rem;
        margin-bottom: 2.4rem;
      }
    }
    .right-characteres{
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 52rem;
      margin-right: 17rem;
      gap: 10px;

      .logo {
        img {
          margin-top: 7rem;
          margin-bottom: 2.2rem;
        }

        span {
         font-style: normal;
         font-weight: 500;
         font-size: 1.8rem;
       }
      }
    }
  }
}